# 洛杉矶房价预测
结构化数据的 回归问题

神经网络做结构化数据，效果不如xgboost

In [10]:
import pandas as pd
import numpy as np

In [2]:
train=pd.read_csv('datas/los_data.csv') # 训练集的读取

In [4]:
train.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [ ]:
train.info() # 类型统计

In [ ]:
train.info()
# 统计数据缺失率

In [8]:
train.isnull().head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,False,False,False,False,False,False,True,False,False,False,...,False,True,True,True,False,False,False,False,False,False
1,False,False,False,False,False,False,True,False,False,False,...,False,True,True,True,False,False,False,False,False,False
2,False,False,False,False,False,False,True,False,False,False,...,False,True,True,True,False,False,False,False,False,False
3,False,False,False,False,False,False,True,False,False,False,...,False,True,True,True,False,False,False,False,False,False
4,False,False,False,False,False,False,True,False,False,False,...,False,True,True,True,False,False,False,False,False,False

1. 那些列有缺失？
2. 缺失了多少？
3. 缺失率是多少
4. 可否安缺失率由大到小排序

In [11]:
nullRate=train.isnull().sum()

In [12]:
tmp=train.isnull().sum()
tmp[tmp>0].shape

(19,)

In [15]:
nullRate[i/len(train) for i in nullRate]

SyntaxError: invalid syntax (<ipython-input-15-da85ef2c921e>, line 1)

In [16]:
tmp=nullRate.isnull().sum().sort_values()

AttributeError: 'numpy.int64' object has no attribute 'sort_values'

## 数据的简单填充
### 缺失值得类型
- Numerical | Categorial


#### Numerical 
1. 均值填充
2. 中位数填充
3. 高频填充-- 会“稍微”少一些 -- 连续型数据很难数字相等，但是很容易接近
4. 分布拟合填充 -- 回归一个分布，或者是（$\mu$-均值，$\sigma$-标准差）-（+-$\sigma$的范围中进行）
5. 内在关系填充（根据列本身存在的意义和数据集内，其它列的相关性，进行构建数学映射模型进行填充）

#### Categorial
1. 高频填充

"男"|"女" --> 0|1

"小孩"|"青年"|"中年"|"老年" --> 0|1|2|3

2. 内在关系填充

Palantir -- 一战成名 -- 找到拉登老巢

人脸，知道你的心跳❤️

In [ ]:
train.mean()

In [ ]:
train.isnull().sum()

In [18]:
train2=train.fillna(train.mean()) # fillna函数会找到对列的均值 或 中位数，对于该列进行相应的填充

In [19]:
tmp=train2.isnull().sum()
tmp[tmp>0].shape

(16,)

#### 对于离散型数据进行填充

朴素办法：将NaN这种空类型变成“None”或者是“NA”的字段

In [20]:
train2.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [21]:
train3=train2.fillna("None")

In [22]:
train3.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,None,Reg,Lvl,AllPub,...,0,None,None,None,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,None,Reg,Lvl,AllPub,...,0,None,None,None,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,None,IR1,Lvl,AllPub,...,0,None,None,None,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,None,IR1,Lvl,AllPub,...,0,None,None,None,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,None,IR1,Lvl,AllPub,...,0,None,None,None,0,12,2008,WD,Normal,250000

In [23]:
def getNullCount(t):
    tmp=t.isnull().sum()
    print(tmp[tmp>0])

In [24]:
getNullCount(train3) # 填充完毕

Series([], dtype: int64)

到目前为止，完成了“暴力”填充阶段
目前的训练集噪声很大，留给后面EDA（Exploria Data Analysis）过程

探索性数据分析，发现新的Feature
对业务的落地很重要

数据科学家的缺失，数据专家！跟年限有关

先提交再优化改进！

## 制作训练集
1.y标签

2.数据里面有Id？pandas伪造出来的

3.答案分出来了，还把答案放进去？？

In [25]:
y=train3['SalePrice']# 标签label
train4=train3.drop(['Id', 'SalePrice'],axis=1)

In [45]:
train4.head()

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,60,RL,65.0,8450,Pave,None,Reg,Lvl,AllPub,Inside,...,0,0,None,None,None,0,2,2008,WD,Normal
1,20,RL,80.0,9600,Pave,None,Reg,Lvl,AllPub,FR2,...,0,0,None,None,None,0,5,2007,WD,Normal
2,60,RL,68.0,11250,Pave,None,IR1,Lvl,AllPub,Inside,...,0,0,None,None,None,0,9,2008,WD,Normal
3,70,RL,60.0,9550,Pave,None,IR1,Lvl,AllPub,Corner,...,0,0,None,None,None,0,2,2006,WD,Abnorml
4,60,RL,84.0,14260,Pave,None,IR1,Lvl,AllPub,FR2,...,0,0,None,None,None,0,12,2008,WD,Normal

In [26]:
X=pd.get_dummies(train4) # 结构化数据

In [27]:
X.head()

,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,BsmtFinSF2,...,SaleType_ConLw,SaleType_New,SaleType_Oth,SaleType_WD,SaleCondition_Abnorml,SaleCondition_AdjLand,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Normal,SaleCondition_Partial
0,60,65.0,8450,7,5,2003,2003,196.0,706,0,...,0,0,0,1,0,0,0,0,1,0
1,20,80.0,9600,6,8,1976,1976,0.0,978,0,...,0,0,0,1,0,0,0,0,1,0
2,60,68.0,11250,7,5,2001,2002,162.0,486,0,...,0,0,0,1,0,0,0,0,1,0
3,70,60.0,9550,7,5,1915,1970,0.0,216,0,...,0,0,0,1,1,0,0,0,0,0
4,60,84.0,14260,8,5,2000,2000,350.0,655,0,...,0,0,0,1,0,0,0,0,1,0

In [28]:
X.shape

(1460, 303)

## 数据切分
分一些数据做评测

In [29]:
from sklearn.model_selection import train_test_split

In [30]:
from sklearn.metrics import mean_squared_error

In [31]:
X_train,X_test,y_train,y_test=train_test_split(X,y, test_size=0.2,random_state=123)

In [32]:
X_train.shape

(1168, 303)

In [33]:
X_test.shape

(292, 303)

## 模型预测

In [35]:
import xgboost as xgb

In [36]:
# xgb.reg_

AttributeError: module 'xgboost' has no attribute 'reg_'

## 进行模型评测

In [37]:
pred=xgb.predict(X_test)

AttributeError: module 'xgboost' has no attribute 'predict'

In [ ]:
rmse=np.sqrt(mean_squared_error(y_test,pred))
rmse

In [ ]:
logrmse=np.sqrt(mean_squared_error(np.log(y_test),np.log(pred)))


使用中位数填充，调整超级参数，看看是否可以得到一个更好的模型

GDBT
## Randomized Search

## 交叉验证

In [ ]:
params = {"objective":"reg:liner", "colsample_bytree":0.7, 'learning_rate':0.1, 
         'max_depth': 10, 'alpha':10}

In [ ]:
matrix-xgb.DMatrix(data=X,label=y)

In [ ]:
X.shape

In [ ]:
cv_result = xgb.cv(params, nfold=10,num_boost_round=500,metris='rmse',as_pandas=True)

In [15]:
train4.get_dtype_counts()  # 各自有什么属性 one hot编码

float64     3
int64      33
object     43
dtype: int64

In [ ]:
X=pd.get_dummies(train1) # Convert categorical variable into dummy/indicator variables
# 进行